/*.form-control{
    border: var(--bs-border-width) solid #aba6a6 !important;
}*/

.header-table{
    background: #333;
    font-weight: 600;
}

.Property{
    font-size: 110%;
    font-weight:bold;
    text-transform:capitalize;
    
} 

