*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body{
  width: 100%;
  height: 100vh;
}

.box-container{
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 15px;
}

